.style-switcher {
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background-color: var(--bg-black-100);
    z-index: 200;
    border-radius:5px;
    transition: all 0.3s ease;
    transform: translateX(100%); //makes the switcher disappear
}

.style-switcher.open {
    transform: translate(-25px);
    transition: all 0.3s ease;
}

.style-switcher .s-icon {
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
.style-switcher .s-icon i {
    line-height: 40px;
}
/* ========== spinner start ========= */
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
.spin {
    animation: spin 1s linear infinite;
}
/* ========== spinner end ========= */

.style-switcher .style-switcher-toggler {
    top: 0;
}
.style-switcher .day-night {
    top: 55px;
}
.style-switcher h4 {
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    text-transform: capitalize;
}
.style-switcher .colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.style-switcher .colors span {
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.style-switcher .color-1 {
    background-color: #ec1839;
}
.style-switcher .color-2 {
    background-color: #fa5b0f;
}
.style-switcher .color-3 {
    background-color: #37b182;
}
.style-switcher .color-4 {
    background-color: #ffc300;
}
.style-switcher .color-5 {
    background-color: #3c6e71;
}

